h1,
h2 {
  letter-spacing: -0.025em;
  line-height: 1.3;
}
h1,
h2,
h4 {
  line-height: 1.3;
}
h3,
h4,
h5 {
  letter-spacing: -0.02em;
}
h5,
h6 {
  line-height: 1;
}
ol,
ul {
  padding-left: 2.5em;
}
.logo,
a {
  text-decoration: none;
}
.author-content,
.section-author,
.section-hero {
  -webkit-box-direction: normal;
}
.author-content,
.logo {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
}
.author-content,
.logo,
.section-about {
  grid-auto-columns: 1fr;
}
.brand,
.contacts-link {
  background-repeat: no-repeat;
}
#w-node-d541e953-eb6c-e2ba-ad00-3d460bdde0d2-f31a282a,
#w-node-daa62704-5854-6fb2-b0c1-23b50a23d78f-f31a282a {
  -ms-grid-row: span 3;
  grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
}
#w-node-_64428536-ef0d-c8e3-ff6f-27b6348658a3-f31a282a,
#w-node-f827d4b6-79df-a8fd-5962-99e160909497-f31a282a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}
#w-node-_64428536-ef0d-c8e3-ff6f-27b6348658a3-f31a282a,
#w-node-d541e953-eb6c-e2ba-ad00-3d460bdde0d2-f31a282a,
#w-node-daa62704-5854-6fb2-b0c1-23b50a23d78f-f31a282a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}
body {
  background-color: #fcfcfa;
  font-family: Inter, sans-serif;
  color: #222;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-size: 3.6em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 2.2em;
  line-height: 1.2;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.4em;
}
.hero-i-can-help,
h6 {
  letter-spacing: -0.01em;
}
h6 {
  font-size: 1.1em;
}
a,
blockquote,
label,
ol,
p,
ul {
  font-size: 1em;
}
p {
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol {
  margin-bottom: 0;
}
li {
  margin-bottom: 0.5em;
}
label {
  display: block;
  padding-left: 40px;
  font-weight: 400;
}
strong {
  font-weight: 600;
}
blockquote {
  margin-bottom: 0;
  padding: 1em 1em 1em 1.5em;
  border-left: 5px solid #e2e2e2;
  line-height: 1.6;
  font-style: italic;
  font-weight: 400;
}
.hero-i-can-help {
  max-width: 25ch;
  margin-bottom: 1vw;
  margin-left: 0.8vw;
  font-size: 2vw;
  line-height: 120%;
  font-weight: 300;
}
.section-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 10vh 10vw 12vh 7vw;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #000;
}
.author-photo,
.section-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.hero-heading {
  position: relative;
  max-width: 15ch;
  font-size: 5vw;
  line-height: 110%;
  font-weight: 500;
  letter-spacing: -0.025em;
}
.hero-heading._2nd {
  margin-left: 0.5vw;
}
.logo {
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 28px auto;
  grid-template-columns: 28px auto;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  color: #fff;
}
.logo:hover {
  opacity: 1;
  color: #fff;
}
.hero-logo {
  overflow: hidden;
  margin-bottom: 6vw;
  line-height: 1;
}
.section-author {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.author-photo {
  display: flex;
  width: 45%;
  padding-bottom: 15vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.author-content {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  padding-top: 10vh;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
}
.author-copy {
  max-width: 36ch;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: left;
  letter-spacing: -0.025em;
}
.section-about {
  display: -ms-grid;
  display: grid;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15vh;
  grid-auto-rows: minmax(220px, auto);
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: minmax(220px, auto);
  grid-template-rows: minmax(220px, auto);
}
.client-content,
.services-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.services-cell {
  display: flex;
  padding-bottom: 15%;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #3d3930;
}
.client-review {
  margin-bottom: 30px;
  font-size: 1em;
}
.client-content {
  display: flex;
  max-width: 40ch;
  margin-left: 5%;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.quotes-item {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 60px 10% 60px 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 200px auto;
  grid-template-columns: 200px auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fcfcfa;
}
.quotes-right,
.section-quotes {
  display: -ms-grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.quotes-item._2nd {
  z-index: 9;
}
.quotes-item._3rd {
  z-index: 8;
}
.quotes-item._1st {
  z-index: 10;
}
.client-name {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #615c56;
}
.submit-button {
  margin-right: 30px;
  margin-left: 30px;
  padding: 15px 40px;
  border: 1px solid transparent;
  background-color: #a60000;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s, color 0.3s,
    background-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s, color 0.3s,
    background-color 0.3s;
  color: #ecebea;
  line-height: 100%;
}
.submit-button:hover {
  background-color: #222;
  box-shadow: 0 20px 40px -23px #30060c;
}
.submit-button.password {
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
}
.text-field {
  width: 100%;
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px 0 40px;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: transparent transparent #da7a88;
  background-color: transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  font-size: 1.3em;
  font-weight: 400;
}
.text-field:active,
.text-field:focus,
.text-field:hover {
  border-bottom-color: #f1d2d7;
}
.text-field.password {
  padding-left: 0;
}
.section-quotes {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 0vw;
  grid-row-gap: 16px;
  -ms-grid-columns: 25% 1fr;
  grid-template-columns: 25% 1fr;
}
.faq-item,
.quotes-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.quotes-heading {
  position: relative;
  max-width: 6ch;
  color: #ecebea;
}
.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.quotes-left {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.quotes-right {
  display: grid;
  padding-top: 25vh;
  grid-column-gap: 16px;
  grid-row-gap: 0vh;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.container-works,
.section-faq {
  display: -ms-grid;
  grid-column-gap: 0vw;
}
.section-faq {
  display: grid;
  padding-bottom: 15vh;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 0vw;
  -ms-grid-columns: 1fr 25%;
  grid-template-columns: 1fr 25%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.faq-item,
.utility-page-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}
.faq-question {
  max-width: 24ch;
  margin-bottom: 1em;
  color: #222;
  line-height: 1.5;
  font-weight: 600;
}
.faq-answer {
  max-width: 36ch;
}
.faq-item {
  display: flex;
  min-height: 80vh;
  padding: 10%;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation-item {
  overflow: hidden;
  padding-bottom: 0.3em;
  border-bottom: 0.05em solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  color: #fff;
  font-size: 1.5vw;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: -0.01em;
}
.navigation-item:hover {
  border-bottom-color: hsla(0, 0%, 100%, 0.4);
}
.contacts-link {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 2.8em;
  border-bottom: 1px solid #d6dde2;
  background-image: url("../images/facebook.svg");
  background-position: 0 50%;
  background-size: auto;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  color: #222;
  font-size: 1.2em;
  letter-spacing: -0.015em;
}
.contacts-link:hover {
  border-bottom-color: #b8a3aa;
  color: #222;
}
.contacts-link.email {
  background-image: url("../images/mail.svg");
}
.contacts-link.email:hover {
  border-bottom-color: #ce4259;
  color: #222;
}
.contacts-link.location.last,
.contacts-link.location:hover {
  border-bottom-color: transparent;
}
.contacts-link.phone {
  background-image: url("../images/smartphone.svg");
}
.contacts-link.insta:hover,
.contacts-link.location.last:hover,
.contacts-link.phone:hover,
.service-pic-left:hover,
.service-pic-right:hover,
.works-details:hover,
.works-link:hover {
  color: #222;
}
.contacts-link.insta {
  background-image: url("../images/instagram.svg");
}
.contacts-link.location {
  background-image: url("../images/map-pin.svg");
}
.contacts-link.location.last {
  border-bottom-width: 1px;
  background-image: url("../images/map-pin_1.svg");
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: auto auto auto 1fr;
  grid-template-columns: auto auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 0.7em;
}
.container-contacts,
.container-works {
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.footer-link {
  border-bottom: 1px solid rgba(88, 77, 61, 0);
  -webkit-transition: border-color 0.2s, color 0.2s;
  transition: border-color 0.2s, color 0.2s;
  color: #222;
}
.footer-link:hover {
  border-bottom: 1px solid #222;
  color: #222;
}
.field-subscribe:active,
.field-subscribe:focus,
.field-subscribe:hover {
  border-color: transparent;
}
.section-works {
  min-height: 100vh;
  padding: 5vh 5% 10vh;
}
.container-works {
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 4vw;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.container-contacts {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.section-slogan,
.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.section-contacts {
  overflow: hidden;
  padding-top: 12vh;
  padding-bottom: 10vh;
}
.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafcfc;
}
.utility-page-content,
.utility-page-form {
  display: -ms-grid;
  grid-column-gap: 30px;
  grid-auto-columns: 1fr;
}
.utility-page-content {
  display: grid;
  width: 320px;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: start;
  grid-row-gap: 20px;
  -ms-grid-columns: -webkit-max-content 1fr;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-size: 0.8em;
}
.section-slogan,
.utility-page-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}
.utility-page-form {
  display: grid;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 10px;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.hero-content {
  margin-left: auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #fff;
}
.container-slogan,
.footer-links,
.form-subscribe,
.navigation {
  grid-auto-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.navigation {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 0vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
}
.section-slogan {
  display: flex;
  padding-top: 20vh;
  padding-bottom: 25vh;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-2nd,
.section-slogan.motto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}
.section-slogan.motto {
  display: flex;
  padding-top: 15vh;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-slogan.goal {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.section-slogan.subscribe {
  padding: 10vh 10% 12vh;
}
.about-copy {
  max-width: 22ch;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.4em;
  line-height: 1.8;
  letter-spacing: -0.02em;
}
.slogan-title {
  margin-bottom: 10px;
  color: #222;
}
.about-2nd {
  display: flex;
  padding-bottom: 15%;
  padding-left: 10%;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #3d3930;
}
.about-1st,
.slogan-lines {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}
.about-1st {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hero-cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}
.overflow-hidden {
  position: relative;
  overflow: hidden;
}
.container-slogan {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
}
.faq-right,
.slogan-lines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.container-slogan.subscribe {
  width: 100%;
  max-width: 560px;
  margin-left: auto;
}
.span-surname {
  font-weight: 300;
}
.slogan-line {
  height: 4px;
  background-color: #a60000;
}
.slogan-lines {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contacts-links,
.faq-right {
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.slogan-lines.motto {
  font-size: 1.2em;
  text-align: left;
}
.quotes-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #a60000;
}
.form-subscribe {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
}
.button-subscribe {
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f4f2f5;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
  color: #222;
  font-size: 0.8em;
  font-weight: 600;
}
.button-subscribe:hover {
  background-color: #a60000;
  color: #ecebea;
}
.field-subscribe {
  height: 50px;
  margin-bottom: 0;
  padding: 0.8em 1em;
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #b0b5c2;
  -webkit-transition: box-shadow 0.4s, background-color 0.4s;
  transition: box-shadow 0.4s, background-color 0.4s;
  font-size: 1em;
}
.field-subscribe:focus {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.field-subscribe::-webkit-input-placeholder {
  font-size: 0.9em;
}
.field-subscribe:-ms-input-placeholder {
  font-size: 0.9em;
}
.field-subscribe::-ms-input-placeholder {
  font-size: 0.9em;
}
.field-subscribe::placeholder {
  font-size: 0.9em;
}
.faq-left {
  padding-top: 50vh;
  padding-left: 4vw;
}
.faq-right {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 15%;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4vw #fafcfc;
  background-color: #a60000;
  color: #706d69;
}
.contacts-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-links {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: -webkit-max-content 2em -webkit-max-content 2em minmax(0px, 1fr);
  -ms-grid-columns: max-content 2em max-content 2em minmax(0px, 1fr);
  grid-template-columns: -webkit-max-content -webkit-max-content minmax(0px, 1fr);
  grid-template-columns: max-content max-content minmax(0px, 1fr);
}
.faq-heading {
  color: #f4f2f5;
}
.works-title {
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;
  border-bottom: 2px solid #a60000;
  line-height: 1.25;
  font-weight: 700;
}
.brand,
.navbar {
  padding-bottom: 0;
}
.works-link {
  width: 100%;
  max-width: 400px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #222;
}
.works-background {
  height: 7%;
  background-color: #fff;
}
.service-pic,
.service-pic-left,
.service-pic-right {
  width: 100%;
  height: 400px;
}
.works-subtitle {
  color: #707070;
  font-size: 0.95em;
  font-weight: 300;
}
.works-subtitle.mobile {
  display: none;
}
.works-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5em;
  padding-right: 1em;
  padding-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.container,
.navbar {
  display: block;
  padding-top: 0;
}
.password-heading {
  max-width: 8ch;
}
.error-message-2nd,
.success-message-2nd {
  font-size: 0.8em;
}
.nav-link,
.nav-link.w--current {
  margin-top: 10px;
  font-size: 0.7em;
}
.service-pic-left {
  -o-object-fit: cover;
  object-fit: cover;
}
.service-pic-right {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  background-color: #f7f7f7;
}
.nav-link.w--current {
  color: #222;
  text-decoration: underline;
}
.container {
  min-width: 100%;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.brand {
  width: 120px;
  height: 80px;
  background-image: url("../images/Recurso-1.svg");
  background-position: 50% 50%;
  background-size: cover;
}
.image-2 {
  overflow: visible;
  width: 200px;
  height: 120px;
  margin-left: -12px;
  -o-object-fit: none;
  object-fit: none;
}
#w-node-d541e953-eb6c-e2ba-ad00-3d460bdde0d2-f31a282a {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
}
#w-node-f827d4b6-79df-a8fd-5962-99e160909497-f31a282a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}
#w-node-_2fe1715b-1ff9-52f3-f811-85eb8915e09d-f31a282a {
  -ms-grid-column-align: center;
  justify-self: center;
}
#w-node-_609cf942e56af2840ed46c0c00000000000d-671a282d,
#w-node-_609cf9e69767466f40a22d6d00000000000e-331a282c {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}
@media screen and (max-width: 991px) {
  .container-works,
  .section-about {
    grid-column-gap: 5vw;
  }
  h1 {
    font-size: 3.4em;
  }
  h2 {
    font-size: 2.6em;
  }
  .hero-heading,
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.3em;
  }
  .about-copy,
  .faq-question,
  .logo,
  .navigation-item,
  .slogan-lines.motto,
  h6 {
    font-size: 1em;
  }
  p {
    font-size: 0.9em;
  }
  .hero-i-can-help {
    margin-bottom: 1em;
    margin-left: 0.4em;
    font-size: 0.8em;
  }
  .hero-logo {
    margin-bottom: 3em;
  }
  .author-copy {
    font-size: 0.85em;
  }
  .section-about {
    padding-bottom: 10vh;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 5vw;
    -ms-grid-rows: minmax(200px, auto);
    grid-template-rows: minmax(200px, auto);
  }
  .client-name,
  .client-review,
  .contacts-link.email,
  .contacts-link.insta,
  .contacts-link.phone,
  .slogan-title,
  .text-block,
  .works-title {
    font-size: 0.8em;
  }
  .quotes-item {
    -ms-grid-columns: 200px auto;
    grid-template-columns: 200px auto;
  }
  .quotes-item._1st {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .section-quotes {
    -ms-grid-columns: 30% 1fr;
    grid-template-columns: 30% 1fr;
  }
  .contacts-heading,
  .faq-heading,
  .quotes-heading {
    font-size: 1.8em;
  }
  .quotes-right {
    padding-top: 15vh;
  }
  .section-faq {
    padding-bottom: 10vh;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .faq-answer {
    font-size: 0.75em;
  }
  .contacts-link {
    padding-right: 1em;
    background-size: 24px;
    font-size: 0.8em;
  }
  .copyright,
  .footer-link {
    font-size: 0.7em;
  }
  .section-contacts,
  .section-works {
    padding-top: 10vh;
  }
  .container-contacts {
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }
  .navigation {
    grid-row-gap: 1em;
  }
  .section-slogan,
  .section-slogan.motto {
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
  .section-slogan.goal {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .about-2nd {
    padding-left: 0;
  }
  .button-subscribe {
    font-size: 0.65em;
    line-height: 1.2;
  }
  .field-subscribe {
    height: 30px;
  }
  .faq-left {
    padding-top: 25vh;
  }
  .works-link {
    max-width: 320px;
  }
  .works-subtitle {
    display: none;
    font-size: 0.75em;
  }
  .works-subtitle.mobile {
    display: block;
  }
  .works-details {
    padding-top: 0.8em;
  }
  .service-pic,
  .service-pic-left,
  .service-pic-right {
    height: 300px;
  }
  .brand {
    width: 100px;
    height: 60px;
  }
  .image-2 {
    width: 130px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .heading,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5,
  .heading-6,
  .heading-7,
  .heading-8 {
    font-size: 2.2em;
  }
  .heading-10,
  .heading-9 {
    font-size: 1.2em;
  }
  #w-node-daa62704-5854-6fb2-b0c1-23b50a23d78f-f31a282a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 3;
    grid-row-start: span 3;
    -ms-grid-row-span: 3;
    grid-row-end: span 3;
  }
}
@media screen and (max-width: 767px) {
  .footer,
  .section-author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .container-contacts,
  .container-works,
  .quotes-item,
  .section-about,
  .section-faq,
  .section-quotes,
  .utility-page-form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.7em;
  }
  .contacts-heading,
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  .hero-i-can-help {
    max-width: 500px;
    margin-left: 2px;
    font-size: 0.6em;
  }
  .about-copy,
  .author-copy {
    max-width: 30ch;
  }
  .section-hero {
    padding-right: 5vw;
    padding-left: 10vw;
  }
  .author-content,
  .author-photo,
  .faq-item,
  .section-works {
    padding-right: 10%;
  }
  .author-content,
  .author-photo,
  .faq-item,
  .quotes-item,
  .section-contacts,
  .section-works {
    padding-left: 10%;
  }
  .heading,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5,
  .hero-heading {
    font-size: 1.6em;
  }
  .section-author {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .author-photo {
    width: 100%;
    padding-bottom: 0;
  }
  .author-content {
    width: 100%;
    padding-bottom: 10vh;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .section-about {
    padding-bottom: 15vh;
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 0vw;
    -ms-grid-rows: minmax(auto, auto);
    grid-template-rows: minmax(auto, auto);
  }
  .quotes-item._1st,
  .quotes-item._2nd {
    min-height: 75vh;
  }
  .quotes-item._3rd {
    min-height: 100vh;
  }
  .section-quotes {
    position: relative;
    grid-row-gap: 0px;
  }
  .quotes-heading {
    margin-top: 10%;
    margin-left: 10%;
  }
  .quotes-left {
    bottom: 10px;
    z-index: 11;
    height: auto;
    min-height: 70vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .quotes-right {
    padding-top: 0;
    grid-row-gap: 10vh;
  }
  .section-faq {
    padding-bottom: 5vh;
    grid-row-gap: 0vh;
  }
  .faq-question {
    font-size: 1.3em;
  }
  .faq-item {
    min-height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation-item {
    margin-bottom: 0;
    font-size: 0.85em;
  }
  .about-copy,
  .slogan-lines.motto {
    font-size: 0.9em;
  }
  .footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container-works {
    grid-row-gap: 8vh;
  }
  .container-contacts {
    margin-right: 0;
    margin-left: 0;
    justify-items: stretch;
    grid-row-gap: 40px;
  }
  .copyright {
    margin-bottom: 2em;
  }
  .hero-content {
    margin-left: 0;
  }
  .navigation {
    width: auto;
    align-self: flex-end;
    grid-auto-columns: 1fr;
  }
  .about-1st,
  .section-slogan {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .section-slogan.motto {
    padding-bottom: 12vh;
  }
  .section-slogan.goal {
    padding-top: 15vh;
  }
  .about-2nd {
    margin-bottom: -30%;
    padding-bottom: 0;
  }
  .container-slogan {
    grid-row-gap: 1em;
    -ms-grid-columns: -webkit-max-content 1fr;
    -ms-grid-columns: max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
  }
  .quotes-background {
    position: absolute;
    height: 30vh;
  }
  .faq-left {
    position: relative;
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
    background-color: #fcfcfa;
  }
  .div-block,
  .section-divider {
    background-color: #a60000;
  }
  .faq-right {
    position: -webkit-sticky;
    position: sticky;
    z-index: 11;
    min-height: 25vh;
    padding-top: 10%;
    padding-bottom: 0;
    padding-left: 10%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-width: 0;
  }
  .password-heading {
    max-width: none;
  }
  .heading-6,
  .heading-7,
  .heading-8 {
    font-size: 1.8em;
  }
  .div-block {
    height: 80px;
    margin-top: -40px;
  }
  #w-node-_609cf9e69767466f40a22d6d00000000000e-331a282c,
  #w-node-d541e953-eb6c-e2ba-ad00-3d460bdde0d2-f31a282a,
  #w-node-daa62704-5854-6fb2-b0c1-23b50a23d78f-f31a282a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-e2c4ca3c-fe90-3998-f49c-73d1ab019d4b-f31a282a {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-_2fe1715b-1ff9-52f3-f811-85eb8915e09d-f31a282a {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}
@media screen and (max-width: 479px) {
  .footer,
  .section-slogan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .hero-i-can-help,
  .slogan-lines.goal,
  .slogan-lines.motto {
    font-size: 0.7em;
  }
  .section-hero {
    height: auto;
    padding-bottom: 20vh;
  }
  .author-content {
    padding: 10vh 10% 5vh;
  }
  .author-copy {
    max-width: 28ch;
    font-size: 0.75em;
    letter-spacing: -0.02em;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .section-about {
    margin-bottom: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .client-review,
  .text-block {
    font-size: 0.9em;
  }
  .client-content {
    margin-left: 0;
  }
  .quotes-item._2nd {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .quotes-item._3rd {
    min-height: 75vh;
    padding-top: 10px;
  }
  .quotes-item._1st {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .text-field {
    font-size: 1.3em;
  }
  .text-field.password {
    font-size: 1em;
  }
  .quotes-left {
    min-height: 70vh;
  }
  .quotes-right {
    -ms-grid-rows: minmax(0px, 0.9fr);
    grid-template-rows: minmax(0px, 0.9fr);
  }
  .section-faq {
    grid-row-gap: 0vw;
  }
  .faq-question {
    font-size: 1.1em;
  }
  .about-copy,
  .contacts-link,
  .faq-answer {
    font-size: 0.8em;
  }
  .faq-item {
    padding: 10%;
  }
  .footer {
    padding-top: 5vh;
    padding-bottom: 3vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer-link {
    margin-bottom: 1em;
  }
  .section-works {
    padding-top: 7vh;
  }
  .section-contacts,
  .section-slogan {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .section-contacts {
    padding-left: 10%;
  }
  .utility-page-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
  .navigation {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .section-slogan {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-slogan.goal {
    padding-top: 10vh;
  }
  .section-slogan.subscribe {
    overflow: hidden;
  }
  .about-copy {
    max-width: 23ch;
  }
  .container-slogan {
    -ms-grid-columns: -webkit-max-content 1fr;
    -ms-grid-columns: max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
  }
  .container-slogan.subscribe {
    margin-left: 0;
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .slogan-lines.method {
    font-size: 0.6em;
  }
  .quotes-background {
    height: 20vh;
  }
  .form-subscribe {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .faq-right {
    position: -webkit-sticky;
    position: sticky;
    min-height: 20vh;
  }
  .contacts-heading {
    font-size: 1.4em;
  }
  .footer-links {
    grid-row-gap: 0px;
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
  }
  .works-subtitle.mobile {
    font-size: 0.6em;
    line-height: 1.5;
  }
  .body {
    overflow: visible;
  }
  .icon {
    color: #222;
  }
  .heading-3,
  .heading-4,
  .heading-5 {
    font-size: 1.8em;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #e7e7e7;
  }
  #w-node-f827d4b6-79df-a8fd-5962-99e160909497-f31a282a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}
